! To load into RESOURCE_MANAGER, run xrdb ~/.Xresources

! *background and foreground are read by sxiv
*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #000000
*color8:  #1d2021
! DarkRed + Red
*color1:  #ff3333
*color9:  #ff6666
! DarkGreen + Green
*color2:  #66ff66
*color10: #b2ff66
! DarkYellow + Yellow
*color3:  #fabd2f
*color11: #ffff66
! DarkBlue + Blue
*color4:  #6666ff
*color12: #66b2ff
! DarkMagenta + Magenta
*color5:  #ff3366
*color13: #ff66bb
! DarkCyan + Cyan
*color6:  #33ddff
*color14: #66ffff
! LightGrey + White
*color7:  #ebdbb2
*color15: #ffffff

! Man pages
URxvt.colorIT: #ff0000

URxvt.scrollBar:	false

! These options are not used when configuration is through picom
!URxvt.fading:		18
!*.alpha: 120

! Fake transparency (copies root window, aka wallpaper)
! Overrides real transparency if not commented
!URxvt.transparent:	true
!URxvt.shading:		12

! Real transparency (needs a running composite manager such as picom)
URxvt.depth:		32
URxvt.background:	[90]#050505

*.font:	inconsolata:size=12
URxvt.font:	xft:inconsolata:size=10,xft:symbola
! URxvt.font:	xft:mononoki:size=9,xft:symbola
! URxvt.font:	xft:envy code r:size=9,xft:symbola

! Leaving this blank stops perl from being initialized
!URxvt.perl-ext:
URxvt.perl-ext-common: default,url-select,font-size
URxvt.keysym.C-equal: font-size:reset
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: qutebrowser
URxvt.url-select.underline: true
