! Inspiration:
! Luke Smith (URXVT video: https://www.youtube.com/watch?v=eaBf_yFHps8)
! Origin config file: https://raw.githubusercontent.com/LukeSmithxyz/voidrice/master/.Xdefaults

! To load into RESOURCE_MANAGER, run xrdb ~/.Xresources

!*foreground:		#00cc00
!*foreground_bold:	#a8a19f
!*cursor:			#a8a19f
!*background:		#1b1918

*.alpha: 120

! Light
*color0: #000000
*color8: #242424
*color1: #d1375d
*color9: #ff4e7a
*color2: #6da48e
*color10: #bceebc
*color3: #fff04b
*color11: #ffff7d
*color4: #696eff
*color12: #a5acff
*color5: #e45eff
*color13: #eb87ff
*color6: #00ffff
*color14: #b3ffff
*color7: #b2ffe5
*color15: #cdfffc

! [<n>] is opacity %
URxvt.background:	Black
URxvt.foreground:	#b2ffe5
URxvt.scrollBar:	false
URxvt.cursorColor:	#b2ffe5
!URxvt.title:		urxvt
URxvt.fading:		15
URxvt.transparent:	true
URxvt.shading:		10
!URxvt.visualBell:	true ! Visual signal when bell character processed

URxvt.font:		xft:monospace:size=10
!xft:font-awesome:size=10

! From https://www.askapache.com/linux/rxvt-xresources/#rxvt-unicode_urxvt
!URxvt*font:  -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
!URxvt*boldFont:  -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12
!URxvt*italicFont:  xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
!URxvt*boldItalicFont:  xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12

! Leaving this blank stops perl from being initialized
URxvt.perl-ext:
!URxvt.perl-ext-common:	fullscreen, resize-font
!URxvt.keysym.F11:	perl:fullscreen:switch
!URxvt.keysym.C-J:	resize-font:smaller
!URxvt.keysym.C-K:	resize-font:bigger
